*.o
*~
.*.swp
*.dSYM
config.
config.*
configure.lineno
generic/bltConfig.h
generic/bltHash.h
generic/bltsh
generic/bltwish
generic/libBLT.*
generic/libBLTlite.*
generic/shared/bltsh25
generic/shared/bltwish25
generic/shared/libBLT25.*
generic/shared/libBLTlite25.*
library/pkgIndex.tcl
man/*.n
man/*.3
Makefile
/autom4te.cache
